[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"
matplotlib = "*"


[dev-packages]
pylint = "*"
mypy = "*"
black = "*"
flake8 = "*"
pytest = "*"
hypothesis = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
